
  max-width: 30rem;
  margin: 0 auto;
}

header {
  padding: 2rem 0;
  text-align: center;
}
header h1 {
  font-size: 3rem;
}

button {
  background: #d4ac6e;
  border: 1.4px solid #4f3222;
  color: white;
  padding: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 2rem;
}


section.app {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 1fr 1fr;
}

section.app form {
  grid-column: 1/3;
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 1fr auto;
}

section.app form fieldset {
  border: 0;
}

section.app form label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
}

section.app form input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid gray;
  height: 2rem;
}

section.app form button {
  align-self: flex-end;
}
section.app form.add fieldset input {
  background-color: wheat;
}

/* LIST */

section.list {
  border-top: 2px solid #4f3222;
  margin-top: 1rem;
  padding-top: 1rem;
}

section.list ul {
  list-style: none;
}

section.list ul li {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
  align-items: center;
}

section.list ul li.done p {
  text-decoration: line-through;
}
